Did you know that the average return from investing in stocks is 10% per year! But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

`dates`
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| company_id   | A unique ID for the company.                 |
| date_joined  | The date that the company became a unicorn.  |
| year_founded | The year that the company was founded.       |

`funding`
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| company_id       | A unique ID for the company.                 |
| valuation        | Company value in US dollars.                 |
| funding          | The amount of funding raised in US dollars.  |
| select_investors | A list of key investors in the company.      |

`industries`
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| company_id   | A unique ID for the company.                 |
| industry     | The industry that the company operates in.   |

`companies`
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| company_id   | A unique ID for the company.                      |
| company      | The name of the company.                          |
| city         | The city where the company is headquartered.      |
| country      | The country where the company is headquartered.   |
| continent    | The continent where the company is headquartered. |

[1] Indentify three best performing industries based on the number of unicorns created over the last three years (2019, 2020 and 2021) combined.

In [22]:
SELECT industries.industry AS industry, COUNT(dates.company_id) AS num_unicorns
FROM dates
JOIN industries ON dates.company_id = industries.company_id
WHERE DATE_PART('year',dates.date_joined) between 2019 AND 2021
GROUP BY 1
ORDER BY 2 DESC
LIMIT 3

                          industry  num_unicorns
0                          Fintech           173
1     Internet software & services           152
2  E-commerce & direct-to-consumer            75

[2] Analyze three best performing industries by year based on the number of unicorns created over the last three years (2019, 2020 and 2021) combined.

In [29]:
SELECT industries.industry AS industry,
DATE_PART('year',dates.date_joined) AS year,
COUNT(dates.company_id) AS num_unicorns
FROM dates
JOIN industries ON dates.company_id = industries.company_id
WHERE industry IN 
  (SELECT industries.industry AS industry
  FROM dates
  JOIN industries ON dates.company_id = industries.company_id
  GROUP BY 1
  ORDER BY COUNT(dates.company_id) DESC
  LIMIT 3)
AND (DATE_PART('year',dates.date_joined) between 2019 AND 2021)
GROUP BY 1, 2
ORDER BY 1, 2 DESC

                          industry  year  num_unicorns
0  E-commerce & direct-to-consumer  2021            47
1  E-commerce & direct-to-consumer  2020            16
2  E-commerce & direct-to-consumer  2019            12
3                          Fintech  2021           138
4                          Fintech  2020            15
5                          Fintech  2019            20
6     Internet software & services  2021           119
7     Internet software & services  2020            20
8     Internet software & services  2019            13

[3] Demonstrate the industry, the year, the number of companies in these industries that became unicorns each year in 2019, 2020 and 2021, along with the average valuation per industry per year,  coverted to billions of dollars and rounded to two decimal places.

In [30]:
SELECT industries.industry AS industry,
DATE_PART('year',dates.date_joined) AS year,
COUNT(dates.company_id) AS num_unicorns,
ROUND(AVG(funding.valuation)/1000000000,2) AS average_valuation_billions
FROM dates
JOIN industries ON dates.company_id = industries.company_id
JOIN funding ON dates.company_id = funding.company_id
WHERE industry IN
  (SELECT industries.industry AS industry
  FROM dates
  JOIN industries ON dates.company_id = industries.company_id
  GROUP BY 1
  ORDER BY COUNT(dates.company_id) DESC
  LIMIT 3)
AND (DATE_PART('year',dates.date_joined) between 2019 AND 2021)
GROUP BY 1, 2
ORDER BY 1, 2 DESC

                          industry  ...  average_valuation_billions
0  E-commerce & direct-to-consumer  ...                        2.47
1  E-commerce & direct-to-consumer  ...                        4.00
2  E-commerce & direct-to-consumer  ...                        2.58
3                          Fintech  ...                        2.75
4                          Fintech  ...                        4.33
5                          Fintech  ...                        6.80
6     Internet software & services  ...                        2.15
7     Internet software & services  ...                        4.35
8     Internet software & services  ...                        4.23

[9 rows x 4 columns]